NEXT_PUBLIC_CONTACT_API_URL=http://localhost:3001/api/contact
ALLOWED_ORIGINS=http://localhost:3000
WEB_ORIGIN=http://localhost:3000
MONGODB_URI=
MONGODB_DB_NAME=contactForm
CONTACT_COLLECTION=contact_submissions
CONTACT_ALLOWED_PRODUCTION_ORIGINS=https://carlsdaleescalo.com,https://www.carlsdaleescalo.com
CONTACT_MIN_SUBMISSION_AGE_MS=2500
CONTACT_MAX_SUBMISSION_AGE_MS=7200000
CONTACT_DUPLICATE_WINDOW_MS=900000
